.idea
.DS_Store
.log

# Only track espanso packages I wrote, but expect to not publish
# Published packages would need to be in own repo
config/snippets/match/packages/*
!config/snippets/match/packages/emojis
!config/snippets/match/packages/emojis/**/*

# Don't track locally cached VSIX files
config/editor/profiles/full/data/extensions/*.vsix
